@tailwind base;
@tailwind components;
@tailwind utilities;

.animation-reveal {
  animation: shrink-height 1s ease-in-out;
}

@keyframes shrink-height {
  0%,
  70% {
    height: 100%;
  }
  100% {
    height: 0.5rem;
  }
}
